PORT=3000
API_PREFIX=/api/v1
APP_ENV=development
APP_NAME=BuyO Flight Backend
APP_VERSION=0.1.0
CRAWLER__PROVIDER_TIMEOUT_SECONDS=180
DATABASE_URL=
DB_ECHO=false
DEBUG=true
ITOURS__API_KEY=
ITOURS__BASE_URL=https://flightapi.itours.no/api/Partners/Flight/V2
ITOURS__CURRENCY=EUR
ITOURS__MAX_POLL_RETRIES=10
ITOURS__PASSWORD=
ITOURS__POLL_INTERVAL=2
ITOURS__TENANT_ID=
ITOURS__TIMEOUT=30
ITOURS__USERNAME=
LOG_LEVEL=info
NIRA__VR__OFFICE_PASS=
NIRA__VR__OFFICE_USER=
REDIS_URL=
